<nav class="navbar navbar-light veryDark">
  <div class="col-6">
    <span class="navbar-brand mb-0"><img src="/assets/img/lockd-logo-35h.png" height="35px" alt=""></span>
  </div>
  <div class="col-6 d-flex justify-content-end">
    {{#if user}}
    <a href="/logout" class="btn btn-danger">Log Out</a>
    {{/if}}
  </div>
</nav>